<section class="info_resalt borders">
    <div class="container">
        <div class="row text-center service-process">
            <!-- Step 1 -->
            <div class="span3">
                <div class="thumbnail">
                    <div class="caption-head">
                        <em class="caption-icon icon-lightbulb icon-big"></em>
                        <h2 class="caption-title">Imagine</h2>
                    </div>
                </div>
            </div>
            <!-- Step 2 -->
            <div class="span3">
                <div class="thumbnail">
                    <div class="caption-head">
                        <em class="caption-icon icon-edit icon-big"></em>
                        <h2 class="caption-title">Strategy</h2>
                    </div>
                </div>
            </div>
            <!-- Step 3 -->
            <div class="span3">
                <div class="thumbnail">
                    <div class="caption-head">
                        <em class="caption-icon icon-cog icon-big"></em>
                        <h2 class="caption-title">Build</h2>
                    </div>
                </div>
            </div>
            <!-- Step 4 -->
            <div class="span3">
                <div class="thumbnail">
                    <div class="caption-head">
                        <em class="caption-icon icon-plane icon-big"></em>
                        <h2 class="caption-title">Launch</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>